// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.counters {
	margin-right: 30px;
	font-size: 10px;
	text-align: center;

	strong {
		display: block;
		font-size: 2em;
	}

	.vote, .answer {
		width: 60px;
		height: 60px;
	}

	.status {
		.unanswered {
			border: 1px solid #E6E9EC; 
			padding: 0 5px;
		}

		.answered {
			border: 1px solid rgb(95, 187, 126); 
			color: rgb(95, 187, 126);
			padding: 0 5px;
		}

		.answered-accepted {
			background: rgb(95, 187, 126);
			color: #FFFFFF;
			padding: 0 5px;
		}
	}

	.status, .view {
		margin-top: 5px;
	}
}

form.form-delete {
	display: inline;
}


